.site__location {

    .location__thumbnail {
        height: 200px;
        background-image: url("https://via.placeholder.com/280x280");
        background-size: cover;
        background-position: center;
        .location__hover {
            font-size: 15px;
            text-transform: uppercase;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: all ease-in-out 0.4s;
            p {
                position: relative;
                z-index: 10;
                margin: 0;
                visibility: hidden;
                opacity: 0;
                top: 10px;
                transition: all ease-in-out 0.4s;
                a{
                    color: #f15b4c;
                }
            }
            .location__hover__cover {
                z-index: 2;
                height: 100%;
                width: 100%;
                position: absolute;
                left: 0;
                top: 0;
                box-sizing: border-box;
                border:1px solid transparent;
                transition: all ease-in-out 0.4s;
            }
        }
        &:hover {
            .location__hover{
                p {
                    visibility: visible;
                    top: 0;
                    opacity: 1;
                }
                .location__hover__cover {
                    background-color: rgba(255,255,255,0.3);
                    border:1px solid #f15b4c;
                }
            }
        }
    }
        
    h4 {
        font-size: 18px;
        color: #f15b4c;
        text-transform: uppercase;
    }
    p {
        color: #231f20;
    }
}