
.no__mobile {
    display: none;
}

.mobile__header {
    display: flex;
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;
    .site__logo {
        width: 80%;
        img {
            width: 100%;
            max-width: 300px;
        }
    }
    .site__m__nav {
        padding-left: 10px;
        font-size: 24px;
        cursor: pointer;
    }
}

.mobile__nav{
    position: absolute;
    left: 0;
    top: 70px;
    background: white;
    width: 100%;
    z-index: 50;
    display: block;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .5s ease-in;
    &.show {
        max-height: 99em;
        transition: max-height .5s ease-in-out;
    }
    .mobile__nav__header {
        border-top: 1px solid #f3f3f3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        padding: 30px 20px;
        border-bottom: 1px solid #f3f3f3;
    }
    > ul {
        padding: 10px 20px;
        margin-top: 20px;
        > li {
            line-height: 35px;
            display: block;
            a {
                display: flex;
                line-height: inherit;
                justify-content: space-between;
                color: #231f20;
                align-items: center;
                &:hover {
                    color: #f15b4c;
                }
            }

            .sub__nav {
                margin-left: 20px;
                display: block;
                max-height: 0px;
                overflow: hidden;
                transition: max-height .5s ease-in;
                &.show {
                    max-height: 99em;
                    transition: max-height .5s ease-in-out;
                }
                h4 {
                    text-transform: uppercase;
                }
                ul {
                    margin-left: 30px;
                }
                .drink {
                    margin: 20px 0;
                }
            }
        }
    }
}

@media all and (min-width:992px ) {
    .mobile__header,
    .mobile__nav { display: none;}
    .no__mobile{ display: block;}

    .site__nav {
        position: relative;
        border-bottom: 1px solid #f3f3f3;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        .site__logo {
            img {
                max-width: 200px;
            }
        }
        .site__left__menu,
        .site__right__menu {
            height: inherit;
            > ul {
                margin: 0;
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                align-items: center;
                height: 100%;
                > li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    margin: 0 10px;
                    &:hover {
                        .sub__nav {
                            visibility: visible;
                            opacity: 1;
                            margin-top: 0;
                        }
                    }
                }
                li {
                    a {
                        color: #231f20;
                        &:hover {
                            color: #f15b4c;
                        }
                    }
                    .sub__nav {
                        transition: 0.15s ease-in all;
                        visibility: hidden;
                        opacity: 0;
                        position: absolute;
                        z-index: 120;
                        width: 100%;
                        top: 80px;
                        left: 0;
                        margin-top: -20px;
                        background-color: #ffffff;
                        display: flex;
                        justify-content: space-between;
                        padding-left: 81px;
                        h4 {
                            margin-top: 0;
                            color: #231f20;
                        }
                        ul {
                            padding: 10px 0;
                            display: block;
                            text-transform: initial;
                            li {
                                line-height: 35px;
                                margin: 0;
                            }
                        }
                        img {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1199px ) {
    .site__nav {       
        .site__logo {
            img {
                max-width: initial;
            }
        }
        .site__left__menu,
        .site__right__menu {
            ul {
                li {
                    .sub__nav {
                        padding-left: 54px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1261px ) {
    .site__nav {       
        .site__logo {
            img {
                max-width: initial;
            }
        }
        .site__left__menu,
        .site__right__menu {
            ul {
                li {
                    .sub__nav {
                        padding-left: 109px;
                    }
                }
            }
        }
    }
}

