.navContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 0;
    div {
        margin: 5px;
        background-color: #fff;
        height: 20px;
        width: 20px;
        border-radius: 100px;
        cursor: pointer;
        &.tns-nav-active{
            background-color: #f15b4c;
        }

    }
 }