extends ../_layouts/base

block content
    include ../_partials/top_notice

    include ../_partials/nav
    include ../_partials/hero
    include ../_partials/menu
    include ../_partials/slider
    include ../_partials/products
    include ../_partials/cleanse
    include ../_partials/locations
    include ../_partials/footer
    include ../_partials/copyright