meta(charset="utf-8")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1")

// SEO Meta description
meta(name="description" content="App landing page description")
meta(name="author" content="SeasonsCA")


<!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
meta( property="og:site_name" content="")
meta( property="og:site" content="")
meta( property="og:title" content="")
meta( property="og:description" content="")
meta( property="og:image" content="")
meta( property="og:url" content="")
meta( property="og:type" content="article")

<!-- Theme color for Icon in Windows Icons -->
meta(name="theme-color" content="#ffffff")