section.py-20.my-10.bg-juice
    .container.pt-10.pb-20
        .row
            .col-sm-12
                .section__title
                    h2 cleanse
        
        .row.justify-center
            .col-sm-12.col-md-5.section__small__title
                h3 DRINK YOURSELF CLEAN
                p You like those cupcakes right? Sweet-spot for the whiskey neat? We get it. Time to cleanse.

        .row.py-16
            .col-sm-12.text-center
                a(href="#").btn.outlined__primary Shop cleanses