section.site__copyright
    .container
        .row
            .col-sm-12.col-md-6
                p © 2016. Juice Served Here. NEVER CONVENTIONAL. All Rights Reserved
            .col-sm-12.col-md-6
                p.text__right
                    a(href="#") Provacy Policy
                    a(href="#") Terms & Conditions