section
    footer.site__footer
        .container
            .row
                .col-sm-12.col-md-6
                    .footer__widget
                        h3 Let's be friends with benefits
                        form.footer__form
                            input(type="email" placeholder="Email Address")
                            button(type="Submit") Ok!
                .col-sm-12.col-md-2
                    .footer__widget.footer__link__list
                        h3 Company
                        ul
                            li #[a(href="#") Find Stories]
                            li #[a(href="#") Our Stories]
                            li #[a(href="#") Our Juice]
                            li #[a(href="#") Our Farmers]
                            li #[a(href="#") Ours Comitment]
                            li #[a(href="#") Careers]
                .col-sm-12.col-md-2
                    .footer__widget.footer__link__list
                        h3 Help
                        ul
                            li #[a(href="#") FAQ]
                            li #[a(href="#") Shipping]
                            li #[a(href="#") Return Policy]
                            li #[a(href="#") Gift Cards]
                            li #[a(href="#") Contact Us]
                            li #[a(href="#") Legal]
                .col-sm-12.col-md-2
                    .footer__widget.footer__link__list
                        h3 social
                        ul
                            li #[a(href="#") Instagram]
                            li #[a(href="#") Facebook]
                            li #[a(href="#") Twitter]
