section
    .site__hero
        .hero-image
            img(src="images/hero.jpg")
        .container
            .row
                .col-sm-12.col-md-8
                    h1 WE SHIP OVERNIGHT NATIONWIDE
                    p We deliver Tuesday-Friday and offer the ability to schedule ahead.
                    a(href="#").btn.outlined__primary view menu