section.py-6
    .container
        .row.mb-16
            .col-sm-12
                .section__title
                    h2 Locations
            
        .row.pb-10
            .col-xs-12.col-md-6.col-lg-3
                .site__location
                    .location__thumbnail
                        .location__hover
                            .location__hover__cover
                            p 
                                a(href="#") View store details
                    h4 Platform
                    p Monday- Sunday - 7am - 8pm

            .col-xs-12.col-md-6.col-lg-3
                .site__location
                    .location__thumbnail
                        .location__hover
                            .location__hover__cover
                            p 
                                a(href="#") View store details
                    h4 dtla
                    p Monday- Sunday - 7am - 8pm

            .col-xs-12.col-md-6.col-lg-3
                .site__location
                    .location__thumbnail
                        .location__hover
                            .location__hover__cover
                            p 
                                a(href="#") View store details
                    h4 pasadena
                    p Monday- Sunday - 7am - 8pm

            .col-xs-12.col-md-6.col-lg-3
                .site__location
                    .location__thumbnail
                        .location__hover
                            .location__hover__cover
                            p 
                                a(href="#") View store details
                    h4 venice
                    p Monday- Sunday - 7am - 8pm

        .row.justify-center.pb-10
            .col-xs-12
                p
                    a(href="#").btn.outlined__primary View All Locations