section.my-4
    .container
        .row
            .col-sm-12.section__title__no--deco
                h3 you buy it by the box
                p Choose 7-8 products of your liking and have it delivered to your door as often as you want. Your pick, every time.

        
        .row.site__menu.justify-center
            .col-sm-12.col-md-4.col-lg-3.site__menu--item
                h1 01
                p built your box
            .col-sm-12.col-md-4.col-lg-3.site__menu--item
                h1 02
                p Subscribe Or Don't
            .col-sm-12.col-md-4.col-lg-3.site__menu--item
                h1 03
                p pick a delivery day
                    small we shup<br/>overnight

        .row
            .col-sm-12
                p.text-center
                    a(href="#").btn.outlined__primary shop the menu
            