nav.mobile__nav
    .mobile__nav__header
        a(href="#") Log in
        a(href="#") #[i.ti-shopping-cart] (2)
    ul
        li(data-toggle="collapse" data-target=".sub__nav") #[a(href="#") Shop #[i.ti-angle-down]]
             .sub__nav
                .sub__drinks.pt-6-md
                    h4 Drinks
                    ul
                        li #[a(href="") All]
                        li #[a(href="") Juices]
                        li #[a(href="") smoothies]
                .sub__drinks.pt-6-md
                    h4 Goods
                    ul
                        li #[a(href="") All]
                        li #[a(href="") Juices]
                        li #[a(href="") smoothies]
                .sub__drinks.pt-6-md
                    h4 Boxes
                    ul
                        li #[a(href="") All]
                        li #[a(href="") Juices]
                        li #[a(href="") smoothies]
                .sub__drinks.pt-6-md
                    h4 Cleanses
                    ul
                        li #[a(href="") All]
                        li #[a(href="") Juices]
                        li #[a(href="") smoothies]
                .drink
                    img(src="https://via.placeholder.com/280x280")
        li #[a(href="#") Cleanses]
        li #[a(href="#") Build a Box]
        li #[a(href="#") The unconventinal]
        li #[a(href="#") Who we are]
