section
    .container.relative
        nav.site__nav
            .mobile__header
                .site__logo
                    a(href="#")
                        img(src="images/h-logo.png")
                .site__m__nav
                    .nav__toggle( data-toggle="collapse" data-target=".mobile__nav" )
                        i.ti-menu

            .site__login.no__mobile
                a(href="#") Log in
            .site__left__menu.no__mobile
                ul 
                    li #[a(href="#") Shop ]
                        .sub__nav
                            .sub__drinks.pt-6-md
                                h4 Drinks
                                ul
                                    li #[a(href="") All]
                                    li #[a(href="") Juices]
                                    li #[a(href="") smoothies]
                            .sub__drinks.pt-6-md
                                h4 Goods
                                ul
                                    li #[a(href="") All]
                                    li #[a(href="") Juices]
                                    li #[a(href="") smoothies]
                            .sub__drinks.pt-6-md
                                h4 Boxes
                                ul
                                    li #[a(href="") All]
                                    li #[a(href="") Juices]
                                    li #[a(href="") smoothies]
                            .sub__drinks.pt-6-md
                                h4 Cleanses
                                ul
                                    li #[a(href="") All]
                                    li #[a(href="") Juices]
                                    li #[a(href="") smoothies]
                            .drink
                                img(src="https://via.placeholder.com/280x280")
                    li #[a(href="#") Cleanses]
                    li #[a(href="#") Build a box]
            .site__logo.no__mobile
                a(href="#")
                    img(src="images/h-logo.png")
            .site__right__menu.no__mobile
                ul 
                    li #[a(href="#") The unconventional]
                    li #[a(href="#") who we are]
            .site__messages.no__mobile
                a(href="#") #[i.ti-shopping-cart] (2)
        include ./mobile_nav