section.py-6
    .container
        .row
            .col-sm-12
                .section__small__title
                    h2 PICK YOUR PLEASURE
                    p Our products are nourishing, satiating and never cut with cheap fillers.
            
        .row.pb-10
            .col-xs-12.col-md-6.col-lg-3
                .site__product
                    .product__thumbnail
                        .product__hover
                            .product__hover__cover
                            p 
                                a(href="#") View milks menu

            .col-xs-12.col-md-6.col-lg-3
                .site__product
                    .product__thumbnail
                        .product__hover
                            .product__hover__cover
                            p 
                                a(href="#") View milks menu

            .col-xs-12.col-md-6.col-lg-3
                .site__product
                    .product__thumbnail
                        .product__hover
                            .product__hover__cover
                            p 
                                a(href="#") View milks menu

            .col-xs-12.col-md-6.col-lg-3
                .site__product
                    .product__thumbnail
                        .product__hover
                            .product__hover__cover
                            p 
                                a(href="#") View milks menu

        .row.justify-center.pb-10.pt-6
            .col-xs-12
                p
                    a(href="#").btn.outlined__primary View drinks menu