section.py-20.my-10.bg-gray-100
    .container
        .row
            .col-sm-12
                .slider
                    .slide
                        .section__title
                            h2 drinks
                        .section__small__title
                            h3 juices
                            p Our juices are individually crafted to flush, detoxify, hydrate and strengthen the body.
                        p.text-center.pt-8
                            a(href="#").btn.outlined__primary view juice menu
                    
                    .slide
                        .section__title
                            h2 drinks
                        .section__small__title
                            h3 juices
                            p Our juices are individually crafted to flush, detoxify, hydrate and strengthen the body.
                        p.text-center.pt-8
                            a(href="#").btn.outlined__primary view juice menu
            
                    .slide
                        .section__title
                            h2 drinks
                        .section__small__title
                            h3 juices
                            p Our juices are individually crafted to flush, detoxify, hydrate and strengthen the body.
                        p.text-center.pt-8
                            a(href="#").btn.outlined__primary view juice menu
            
            .navContainer
                div
                div
                div