section.py-20.my-10.bg-gray-100
    .container
        .row
            .slider.col-sm-12
                .slide
                    .section__title
                        h1 drinks
                    .section__small__title
                        h1 juices
                        p Our juices are individually crafted to flush, detoxify, hydrate and strengthen the body.
                    p.text-center.pt-8
                        a(href="#").btn.outlined__primary view juice menu
        